
.start-quiz {
  padding-top: 20px;
}

.nickname {
  padding-top: 15px;
}

.padded-left {
  padding-left: 90px;
}

.padded-right {
  padding-right: 100px;
}

.times-up-padding {
  padding-top: 34px;
  padding-bottom: 18px;
}
