/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.centered {
  text-align: center;
}

.score-details {
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.green {
  background: #2AF36E;
}

.red {
  background: #FF686D;
}

.table-rankings {
  width: 60%;
  margin-top: -25px;
  margin-bottom: 20px;
}

.individual-score {
  padding-top: 20px;
  padding-bottom: 20px;
  border-style: solid;
}

.title-padded {
  padding-top: 23px;
}
