<h1>Welcome to the 50 Seconds Quiz!</h1>
<p>
  In the 50 Seconds Quiz we like to keep things simple.
  All you need te remember is you will get:
  - 50 seconds
  - 5 questions
  - Which means 10 seconds per question
</p>

<p>Your nickname:</p>

<button type="button" class="btn btn-primary">Start quiz</button>
