<h1>Welkom bij de Zonnige Quiz!</h1>
<p>
  In de Zonnige Quiz houden we het graag simpel.
  Alles wat je moet weten is dat:
  <ul>
    <li>De quiz bestaat uit 5 multiple choice vragen</li>
    <li>Je 10 seconden per vraag hebt om te antwoorden</li>
  </ul>
</p>

<p>Jouw nickname:</p>


<%= simple_form_for(@game) do |f| %>
  <%= f.input :nickname %>
  <%= f.submit %>
<% end %>



<button type="button" class="btn btn-primary">Start quiz</button>

