<h4>
Well done! You scored:
80 points
</h4>

<h4>All time rankings:</h4>
<table style="width:60%">
  <tr>
    <th>Rank</th>
    <th>Nickname</th>
    <th>Score</th>
    <th>Date</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Piet</td>
    <td>80 points</td>
    <td>14/08</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Jan</td>
    <td>60 points</td>
    <td>12/08</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Katrien</td>
    <td>40 points</td>
    <td>11/08</td>
  </tr>
</table>

<button type="button" class="btn btn-primary">Play again</button>
