<h1>Welkom bij de Zonnige Quiz!</h1>
<p>
  In de Zonnige Quiz houden we het graag simpel.
  Alles wat je moet weten is dat:
  <ul>
    <li>De quiz bestaat uit 5 multiple choice vragen</li>
    <li>Je hebt 10 seconden per vraag hebt om te antwoorden</li>
  </ul>
</p>

<p>Jouw nickname:</p>

<button type="button" class="btn btn-primary">Start quiz</button>

<h4>1) How many people currently (2016) live on the earth?</h4>
<ol type="A">
  <li>5,4 billion</li>
  <li>6,4 billion</li>
  <li>7,4 billion</li>
</ol>

<h4>2) Who got into space first?</h4>
<ol type="A">
  <li>Neil Armstrong</li>
  <li>Laika (the dog)</li>
  <li>Albert (the monkey)</li>
</ol>

<h4>3) Testvraag</h4>
<ol type="A">
  <li>Antwoord 1</li>
  <li>Antwoord 2</li>
  <li>Antwoord 3</li>
</ol>

<h4>4) Testvraag</h4>
<ol type="A">
  <li>Antwoord 1</li>
  <li>Antwoord 2</li>
  <li>Antwoord 3</li>
</ol>

<h4>5) Testvraag</h4>
<ol type="A">
  <li>Antwoord 1</li>
  <li>Antwoord 2</li>
  <li>Antwoord 3</li>
</ol>

<h2>Time's Up!</h2>

<button type="button" class="btn btn-primary">Checkout score</button>
